html {
  font-family: "Montserrat-Regular", serif;
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #f3f5f8;
}

body,
input,
textarea {
  font-family: "Montserrat-Regular", serif;
  font-size: 19px;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0;
}
